<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<title> Confirm </title>

</head>

<body>
    <h1> Confirm</h1>
    
    <p>Confirmation successful</p>
    <a href = "register"register>Register</a>
    <a href = "login"register>Login</a>
    <a href = "/" register>Home</a>


    <form action="/profile" method = "POST">
        <label for="token">Token</label>
        <input type="text" id="token" name="token"><br><br>
    </form>


</body>
</html>